@mixin font-face($name, $path, $weight: 400, $style: normal, $exts: woff2 woff) {
	$src: null;

	@each $ext in $exts {
		$src: append($src, url(quote($path + "." + $ext)) format(quote($ext)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face("Tungsten-Bold", "../fonts/Tungsten/Tungsten-Bold", 700, normal, woff2);

@include font-face("DINNextLTPro-Bold", "../fonts/DINNextLTPro/DINNextLTPro-Bold", 700, normal, woff2);
@include font-face("DINNextLTPro-Regular", "../fonts/DINNextLTPro/DINNextLTPro-Regular", 400, normal, woff2);

$Tungsten-Bold: "Tungsten-Bold";
$DINNextLTPro-Bold: "DINNextLTPro-Bold";
$DINNextLTPro-Regular: "DINNextLTPro-Regular";
